<%- include('./partials/header.ejs') %> 

    <div class="manageUser-container">
      <div id="title">
        <h2>All Users</h2>
      </div>

      <!-- <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div> -->

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Add Friend</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% users.forEach((user) => { %>
              <tr id="<%= user._id %>">
                <td class="name">
                  <% if(user.avatar) { %>
                    <img src="./uploads/avatars/<%= user.avatar %>"/>
                  <% } else { %>
                    <img src="./images/nophoto.png "/>
                  <% } %>
                  <span><%= user.name %></span>
                </td>
                <td><%= user.email %> </td>
                <% if(user.email == loggedInUser.email) { %>
                  <td class="manage">
                    <span>(Me)</span>
                    <!-- <img src="./images/plus-square-solid.svg" alt="Delete" /> -->
                  </td>
                <% } else { %>
                  <% if(false) { %> 
                  <% } else { %>
                    <td class="manage">
                      <span onclick="addConversation('<%= user._id %>', '<%= user.name %>', '<%= user.avatar %>')">Add</span>
                      <!-- <img src="./images/plus-square-solid.svg" alt="Delete" /> -->
                    </td>
                  <% } %> 
                <% } %>   
              </tr>
            <% }) %> 
          </tbody>
        </table>
      </div>
    </div>

    <script>
      
      const add = Toastify({
        text: "Added Successfully",
        duration: 3000
      });
      const deleteErrorToast = Toastify({
        text: "Could not Added the user",
        duration: 3000
      });


      async function addConversation(participant_id, name, avatar) {
            try {
                const response = await fetch("/inbox/conversation", {
                    method: "POST",
                    body: JSON.stringify({
                        participant: name,
                        id: participant_id,
                        avatar: avatar != "undefined" ? avatar : null,
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                });

                const result = await response.json();

                if(!result.errors) {
                  add.showToast();

                    //reload the page aster 1 sec
                    setTimeout(() => {
                        location.reload();
                    }, 100)
                } else {
                    throw new Error(result.errors.common.msg)
                }
            } catch(err) {
              deleteErrorToast.showToast();
            }
        }

    </script>
  </body>
</html>
